name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]  # ← замени на свою ветку (main или master)

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.'  # ← если сайт в корне (index.html там же)

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
